<div class="row" id="footer">
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="col-md-4">

			<h4 class="white">Suivez-nous</h4>
			<%= link_to("#" , target: '_blank', class: 'blue big') do %>
			<i class="fa fa-facebook"></i>
			<% end %>
			<%= link_to("#" , target: '_blank', class: 'blue big') do %>
			<i class="fa fa-youtube"></i>
			<% end %>
			<%= link_to("#" , target: '_blank', class: 'blue big') do %>
			<i class="fa fa-twitter"></i>
			<% end %>
			<%= link_to("#" , target: '_blank', class: 'blue big') do %>
			<i class="fa fa-linkedin"></i>
			<% end %>
			
		
			</div>
			<div class="col-md-8">
				<h4 class="white">© 2015 Seven Sports Consulting</h4>
			</div>
		</div>
	</div>
</div>